html { 

  font-size: 22px; 
}
body { 
  
  padding: 1rem, 1rem;
   
}

.card {

  background-color: dodgerblue;
  color:black;
padding: 20px;
  
  align-items: center;
}

.cards {
 
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: auto, auto;
}