<!DOCTYPE html>

<html>

  <head>
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/login-button.css ">
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/free-styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700&amp;display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="js/bars.js"></script>
  </head>


<body style="background-color: black;" >
  <div class="cards dd" style="height: 100vh;" >
    <div class="id-card-wrapper "  >
      <div>
        <div>
          <div>
            <div>
              <div >
                <!-- Stars Start -->
                <div class="stars ">
                  <div class="stars-back"></div>
                  <div class="stars-middle"></div>
                  <div class="stars-front"></div>
                </div>
                <!-- Stars End -->

    <div class="card " style=" background-color: rgba(0, 0, 0, 0);">
 <div class="dd" >
      <h1><u>Mustacheo Academy</u></h1>   
     <strong> <h2 style="color: rgb(33, 139, 226);">Join the cause, <br>help discover the Universe</h2></strong>
    </div>


  <div class="card dd" style="background-color: black;" >
    <div class="card dd" style="background-color: rgba(0, 0, 0, 0);">
    
      
        <div>
   
          <h1><u>Space Cadet Roster</u></h1>
<ul>

  <% for (const book of model) { %>  
    <% if (book.Name === "Space Cadet") { %>
    <li>
      <a href="#"> 
      <%= book.Name %>
    
      <em>(<%= book.Title %>)</em>
  </a>
    </li>
    <% } %>
  <% } %>

</ul>

<a href="/create_cadet">Become a Cadet Today!</a>
<br>

</div>
      </div>
<div class="cards">
  <div class="card dd" style="background-color: rgba(0, 0, 0, 0);">          
<h1><u>Space Leaders</u></h1>
<ul>

  <% for (const book of model) { %>

      <% if (book.Name != "Space Cadet") { %>       
        <li>
          <a href="#">
        <%= book.Title %>
      <em>(<%= book.Name %>)</em>
        <% } %>

          </a>

   
    </li>
  <% } %>

</ul>
<hr>
 <h1>Already have experience?</h1>
<span>Take the Space Leader entrance exam below</span>
<br>
<a href="/create_space_leader">Become a Space Leader Today!</a>
        </div>
<br>

        <div class="card dd" style="background-color: rgba(0, 0, 0, 0);">
        
        <a href="/user_dash">Back to Command Deck</a>
                </div>

  </div>
 
    </div>


    </div>
            


              </div>

            </div>
          </div>
        </div>
      </div>
      <!-- Scripts-->
       <script src="js/jquery.min.js"></script>
  <script src="js/free-styles.js"></script>
</body>

</html>

