<html>

  <head>
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/login-button.css ">
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/free-styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700&amp;display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="js/bars.js"></script>
  </head>


<body style="background-color: black;">
  <div class="cards">
    <div class="id-card-wrapper">
      <div id="welcome-card">
        <div>
          <div>
            <div>
              <div class="dd">
                <!-- Stars Start -->
                <div class="stars">
                  <div class="stars-back"></div>
                  <div class="stars-middle"></div>
                  <div class="stars-front"></div>
                </div>
                <!-- Stars End -->

                <div class="card">

                  <div class="sidebar-right sidebar"><span>
                      <u>Nav Sys</u></span>
                    <!-- CSS ONLY-->
                    <div>
                      <!-- CSS ONLY--><a class="btn-wrapper" href="user">
                        <div class="btn-tail"></div>
                        <div class="btn-body">
                          <p>Command Deck</p>
                        </div>
                      </a><br>
                    </div>
                  </div>
                </div>

                <!-- Header Start -->
                <div class="card" id="jelly-header">
                  <div class="sidebar-right sidebar">
                    <h1 class="section-heading">Mizz Jelly</h1>
                    <hr>
                    <p class="large">Still uknown how this creature powers the entire Academy but I'm sure I'll find out
                      eventually...but the size of it!</p>
                  </div>
                </div>
                <!-- Header End -->


                <!-- Mizz Jelly Start -->
                <div class="card">
                  <div class="status-panel sidebar">
                    <div class="jelly-container">
                      <div class="bubble-1"></div>
                      <div class="bubble-2"></div>
                      <div class="bubble-3"></div>
                      <div class="bubble-4"></div>
                      <div class="bubble-5"></div>
                      <div class="bubble-6"></div>
                      <div class="bubble-7"></div>
                      <div class="bubble-8"></div>
                      <div class="bubble-9"></div>
                      <div class="bubble-10"></div>
                      <div class="jelly-wrapper" id="jelly-wrapper">
                        <div class="jelly-hair"></div>
                        <div class="jelly-body">
                          <div class="jelly-inner">
                            <div class="jelly-eyes"></div>
                            <div class="jelly-mouth"></div>
                            <div class="jelly-hands"></div>
                          </div>
                        </div>
                        <div class="jelly-tentacle-1"></div>
                        <div class="jelly-tentacle-2"></div>
                        <div class="jelly-tentacle-3"></div>
                        <div class="jelly-tentacle-4"></div>
                        <div class="jelly-tentacle-5"></div>
                      </div>
                      <div class="jelly-shadow"></div>
                      <div class="bubble-11"></div>
                      <div class="bubble-12"></div>
                      <div class="bubble-13"></div>
                      <div class="bubble-14"></div>
                      <div class="bubble-15"></div>
                      <div class="bubble-16"></div>
                      <div class="bubble-17"></div>
                      <div class="bubble-18"></div>
                      <div class="bubble-19"></div>
                      <div class="bubble-20"></div>
                    </div>
                  </div>

<a class="btn-wrapper"  onclick="powerShip()" style="padding: 10px;" id="restorePower">
                        <div class="btn-tail"></div>
                        <div class="btn-body">
                          <p>Restore power</p>
                        </div>
                      </a>
                     <div style="height: 5%; width: 35%;" class="card " id="navvy jelly-header">
           
                    <div id="myProgress"class="sidebar-right sidebar">
                      <div id="myBar">0</div>
     </div>
                </div>
                  
<br>
                      <!-- Jelly Alert Start-->
                      <div class="dd" style="visibility: hidden; visibility: collapse;" id="alert-box">
                        <div  id="jelly-alert-msg" style=" height: 1%;" >
                          <div class="message" >
                           
                          
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Jelly Alert End -->
                    <div class="card" id="jelly-header">
                      <div class="sidebar-right sidebar"><span id="jelly" >0</span>
                        <hr><a class="btn-wrapper" onclick="depositJellies()">
                          <div class="btn-tail"></div>
                          <div class="btn-body">
                            <p>Deposit Jelly</p>
                          </div>
                        </a>
                        <a class="btn-wrapper" onclick="gatherJellies()">
                          <div class="btn-tail"></div>
                          <div class="btn-body">
                            <p>Gather Jelly</p>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="card"></div>

<div class="card"></div>
<div class="card"></div>
<div class="card"></div>
<div class="card"></div> -->
                </div>

                <!-- Mizz Jelly End -->

        

            
              </div>

            </div>
          </div>
        </div>
      </div>
      <!-- Scripts-->
      <script src="js/jelly-man.js"></script>
</body>

</html>