<!DOCTYPE html>
<!-- Thank you Chris Gannon. All the little jellies like this are based off your original code pen. -->
<!-- Copyright (c) 2020 by Chris Gannon (https://codepen.io/chrisgannon/pen/ZEWOOaQ)-->

<html>

  <head>
    <link rel="stylesheet" href="css/blob.css">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/login-button.css ">
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/free-styles.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/augmented-ui@2/augmented-ui.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.1/gsap.min.js"></script>
  </head>


<body style="background-color: black;">
  <div class="cards">
    <div class="id-card-wrapper">
      <div id="welcome-card">
        <div>
          <div>
            <div>
              <div >
                <!-- Stars Start -->
                <div class="stars dd">
                  <div class="stars-back"></div>
                  <div class="stars-middle"></div>
                  <div class="stars-front"></div>
                </div>
                <!-- Stars End -->

     
            
                <div class="card"  style="padding-bottom: 50px; background-color: transparent;">
                  
     <h1 class="dd">Space Jelly Lab</h1>
     <br>
<header style="background-color: rgb(189, 168, 168); color: cyan" >
  <marquee direction="left" speed="normal" behavior="loop" class="marquee">
   <ul>
     <li>
       Specimen Number: 0
     </li>
     <li>
         StarDate Caught: 0053.1
     </li>
     <li>
         Planet: Mars
     </li>
     <li>
       Jellies: 100
     </li>
   </ul>
 </marquee>
    <div style="background-color: rgb(0, 0, 0);" >
     
      <section class="stage">
        <figure class="ball bubble">
          <svg id="mainSVG" xmlns="http://www.w3.org/2000/svg" viewBox="0 -230 800 600">
            <defs>
              <path id="gridBox" d="M281,328.39l30-109.16M518.73,328.89,281,328.39m30-109.16H489m0,0,29.74,109.66" fill="none" stroke-miterlimit="10" stroke-width="0.75"></path>
              <filter id="glow" x="-100%" y="-100%" width="250%" height="250%">
                <fegaussianblur stdDeviation="20" result="coloredBlur"></fegaussianblur>
                <feoffset dx="0" dy="0" result="offsetblur"></feoffset>
                <feflood id="glowAlpha" flood-color="#3F21E9" flood-opacity="1"></feflood>
                <fecomposite in2="offsetblur" operator="in"></fecomposite>
                <femerge>
                  <femergenode></femergenode>
                  <femergenode in="SourceGraphic"></femergenode>
                </femerge>
              </filter>
              <filter id="glow2" x="-100%" y="-100%" width="250%" height="250%">
                <fegaussianblur stdDeviation="12" result="coloredBlur"></fegaussianblur>
                <feoffset dx="0" dy="0" result="offsetblur"></feoffset>
                <feflood id="glowAlpha" flood-color="#3F21E9" flood-opacity="1"></feflood>
                <fecomposite in2="offsetblur" operator="in"></fecomposite>
                <femerge>
                  <femergenode></femergenode>
                  <femergenode in="SourceGraphic"></femergenode>
                </femerge>
              </filter>
              <filter id="goo" color-interpolation-filters="sRGB">
                <fegaussianblur in="SourceGraphic" stdDeviation="5" result="blur"></fegaussianblur>
                <fecolormatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 100 -9" result="cm"></fecolormatrix>
                <feblend></feblend>
              </filter>
              <filter id="bevel" color-interpolation-filters="sRGB" filterUnits="objectBoundingBox" x="-10%" y="-10%" width="150%" height="150%">
                <fegaussianblur in="SourceAlpha" stdDeviation="3" result="blur"></fegaussianblur>
                <fespecularlighting in="blur" surfaceScale="5" specularConstant="0.75" specularExponent="80" result="specOut" lighting-color="#4356D7">
                  <fepointlight x="-5000" y="10000" z="10000"></fepointlight>
                </fespecularlighting>
                <fecomposite in="specOut" in2="SourceAlpha" operator="in" result="specOut2"></fecomposite>
                <fecomposite in="SourceGraphic" in2="specOut2" operator="arithmetic" k1="0" k2="1" k3="1" k4="0" result="litPaint"></fecomposite>
              </filter>
              <g id="container" filter="url(#goo)"></g>
              <radialgradient id="blobGrad" cx="397.6124" cy="190" r="22.6488" gradientUnits="userSpaceOnUse">
                <stop offset="0.4" style="stop-color:#FFF"></stop>
                <stop offset="1" style="stop-color:#591520"></stop>
              </radialgradient>
              <lineargradient id="refGrad" x1="400" y1="393.43" x2="400" y2="274.67" gradientUnits="userSpaceOnUse">
                <stop offset="0"></stop>
                <stop offset="0.5" stop-color="#fff"></stop>
              </lineargradient>
            </defs>
            <mask id="blobRefMask">
              <rect class="refGradRect" y="204.67" width="800" height="288.76" fill="url(#refGrad)"></rect>
            </mask>
            <g fill="#4356D7" mask="url(#blobRefMask)">
              <use id="reflection" xlink:href="#container" filter="url(#bevel)"></use>
            </g>
            <g filter="url(#glow2)">
              <g filter="url(#glow)" stroke="#4A63F5" stroke-miterlimit="10" fill="none" stroke-width="2">
                <use class="gridBox" xlink:href="#gridBox" y="50" opacity="0.3"></use>
                <use class="gridBox" xlink:href="#gridBox" y="20" opacity="0.6"></use>
                <use class="gridBox" xlink:href="#gridBox"></use>
                <path id="ring" stroke="none" d="M397.61,281.93a39.25,39.25,0,0,1-8.35-.88,27.13,27.13,0,0,1-6.72-2.35,13.46,13.46,0,0,1-4.38-3.43,6,6,0,0,1-1.4-4.11,6.54,6.54,0,0,1,1.87-4A14.76,14.76,0,0,1,383.2,264a28.44,28.44,0,0,1,6.53-2.12,40.19,40.19,0,0,1,15.76,0A28.53,28.53,0,0,1,412,264a14.83,14.83,0,0,1,4.56,3.21,6.56,6.56,0,0,1,1.88,4,6.06,6.06,0,0,1-1.41,4.11,13.42,13.42,0,0,1-4.37,3.43,27.36,27.36,0,0,1-6.73,2.35,39.25,39.25,0,0,1-8.35.88m0-35.5a96.57,96.57,0,0,0-19.05,1.85,69.64,69.64,0,0,0-15.86,5.12,36.54,36.54,0,0,0-11.15,7.73,16.24,16.24,0,0,0-4.7,9.72,14.56,14.56,0,0,0,3.27,10,32.23,32.23,0,0,0,10.59,8.43,66.06,66.06,0,0,0,16.42,5.8,98.17,98.17,0,0,0,41,0,66.06,66.06,0,0,0,16.42-5.8,32.13,32.13,0,0,0,10.59-8.43,14.46,14.46,0,0,0,3.27-10,16.22,16.22,0,0,0-4.69-9.72,36.72,36.72,0,0,0-11.16-7.73,69.48,69.48,0,0,0-15.86-5.12,96.49,96.49,0,0,0-19.05-1.85" fill="#DFE3FF"></path>
              </g>
            </g>
            <g id="wrapper" filter="url(#bevel)" opacity="0.76">
              <use xlink:href="#container" fill="url(#blobGrad)"></use>
            </g>
          </svg>



        </figure>
     
  </section>
    
     
    </div>  

  </header>
  <div class="bar"> <a
    class="login-wrapper"
    href="#"
    
    style="z-index: 99"
  >
    <div class="login-tail"></div>
    <div class="login-body">
      <p>
       Buy
      </p>
    </div> </a
  ></div>
         <div class="bar"> <a
                        class="login-wrapper"
                        href="user_dash"
                        
                        style="z-index: 99"
                      >
                        <div class="login-tail"></div>
                        <div class="login-body">
                          <p>
                            Space Deck
                          </p>
                        </div> </a
                      ></div>
                    </div>
            

        

            
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- Scripts-->
  <script src="js/blob.js"></script>
</body>

</html>