
<head>
<link rel="stylesheet" href="css/space_globe.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r120/three.min.js"></script>
<script src="https://cdn.rawgit.com/mrdoob/three.js/master/examples/js/controls/OrbitControls.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/simplex-noise/2.4.0/simplex-noise.min.js" ></script>


</head>


<body>
<div id="canvas_container"></div>

<button id="fullscr">Go Fullscreen</button>

<script src="js/space_globe.js"></script>

</body>

