<html>

  <head>
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/login-button.css ">
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/free-styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700&amp;display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
  </head>


<body style="background-color: black;">
  <div class="cards">
    <div class="id-card-wrapper">
      <div id="welcome-card">
        <div>
          <div>
            <div>
              <div >
                <!-- Stars Start -->
                <div class="stars dd">
                  <div class="stars-back"></div>
                  <div class="stars-middle"></div>
                  <div class="stars-front"></div>
                </div>
                <!-- Stars End -->


                <div class="card" style="padding: 5px; width: 35%;">
     
                    <div class="sidebar-right sidebar" >
                        
<br>
<div id="navSys" class="dd navvy">
  <div class="bar"> <a
    class="login-wrapper"
    href="user"
    
    style="z-index: 99"
  >
    <div class="login-tail"></div>
    <div class="login-body">
      <p>
        Board Ship
      </p>
    </div> </a
  ></div>

  <div class="bar"> <a
    class="login-wrapper"
    href="#"
   
    style="z-index: 99"
  >
    <div class="login-tail"></div>
    <div class="login-body">
      <p>
        Docking Bay
      </p>
    </div> </a
  ></div>
  <div class="bar"> <a
    class="login-wrapper"
    href="academy"
    
    style="z-index: 99"
  >
    <div class="login-tail"></div>
    <div class="login-body">
      <p>
        Academy
      </p>
    </div> </a
  ></div>

  <div class="bar"> <a
    class="login-wrapper"
    href="space_jelly_lab"
    
    style="z-index: 99"
  >
    <div class="login-tail"></div>
    <div class="login-body">
      <p>
       Lab Shop
      </p>
    </div> </a
  ></div>

</div>    
                    </div>



          

            
              </div>

            </div>
          </div>
        </div>
      </div>
      <!-- Scripts-->
      <script >
      
      
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
      </script>
   
</body>

</html>