html { 

  font-size: 22px; 
}
body { 
  
  padding: 1rem, 1rem;
   
}

.card {

  background-color: dodgerblue;
  color:black;
padding: 15px;
   margin-left: auto;
  align-items: center;
}

.cards {

  display: grid;
  
  grid-template-columns: auto, auto;
}