{% load static %}
{% load bootstrap4 %}  
<!doctype html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
    <title>Logger</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
        
   
</script>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>
</html>

<body class="big_boy" style="background-image: url({% static 'images/thee_archive.jpg' %}); background-position: center; background-repeat: no-repeat;">
    
  <nav class="navbar navbar-expand-md navbar-dark bg-primary mb-4 border">
      <a class="navbar-brand" href="{% url 'learning_logs:home_dash' %}">Thee Archive</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                {% if user.is_authenticated %}
                <a class="nav-link" href="{% url 'learning_logs:topics' %}">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'learning_logs:charts' %}">Charts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'learning_logs:new_workout' %}"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'learning_logs:workouts' %}">View workouts</a>
            </li>
            {% endif %}
        </ul>

        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
      
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:logout' %}">
                    Log out
                </a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:register' %}">
                    Register
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:login' %}">
                    Login
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
  </nav>

<main role="main" class="container">
    <div class="pb-2 mb-2 border-bottom">
        {% block page_header %}{% endblock page_header %}
    </div>
    <div>
       {% block content %}{% endblock content %}
    </div>
</main>

    </body>

    