{% extends "learning_logs/base.html" %}

{% block page_header %}
<div class="jumbotron" id="jumbo">
    <h1 class="display-4">A personal tracker, journal, or project manager. The Omni Logger will track anything you desire and build beautiful charts off of what you log!</h1>

    <p class="lead">If not already an omni logger than register right below so you can get to logging.</p>

    <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}" role="button">Register &raquo;</a>
</div>
{% endblock page_header %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col col-md-4 mb-3">
            <div class="card h-100"  style="background-color: darkgrey;">
                <p class="card-body">Create an omni log and add entries to each log or add an entry to a public omni log.</p>
              <div style="text-align:center; padding-bottom: 25px;">  <a class="btn btn-lg btn-primary" href="{% url 'learning_logs:topics' %}" role="button">Omni Logs Archive</a></div>
            </div>
        </div>
        <div class="col col-md-4 mb-3"  >
            <div class="card h-100"  style="background-color: darkgrey;">
                <p class="card-body">Simple customizable workout cards that allow for easy access and also can be grouped into a 'routine'.</p>
                <div style="text-align:center; padding-bottom: 25px;">  <a class="btn btn-lg btn-primary" href="{% url 'learning_logs:new_workout' %}" role="button">Create an Omni Log Project</a></div>
            </div>
            </div>
                <div class="col col-md-4 mb-3" >
                    <div class="card h-100"  style="background-color: darkgrey;">
                        <p class="card-body">The Omni Logger tracks everything a user does and prints them out in customizable charts.</p>
                        <div style="text-align:center; padding-bottom: 25px;">  <a class="btn btn-lg btn-primary" href="{% url 'learning_logs:charts' %}" role="button">Charts</a></div>
                    </div>
                    </div>
        </div>
    </div>
</div>
{% endblock content %}